<ion-header>
  <ion-toolbar>
    <ion-title>
      Facebook Tutorial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="useremail" type="email" placeholder="your@email.com" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="userpassword" type="password" placeholder="Password" ngModel required></ion-input>
  </ion-item>
  <ion-button type="submit" (click)="loginForm()">Log in</ion-button>
  <ion-button full (click)="loginAction()">Login with Facebook</ion-button>
  <ion-button full (click)="googleLogin()">Login with Google</ion-button>
  <ion-list>
      <div *ngIf="email != null">
        <h1>Google login detail</h1>
        <h1>Welcome, {{ displayName }}!</h1>
        <p>Email: {{ email }}<br>
          Family Name: {{ familyName }}<br>
          Given Name: {{ givenName }}<br>
          User ID: {{ userId }}</p>
        <p><ion-avatar item-left>
            <img src="{{ imageUrl }}">
            </ion-avatar></p>
      </div>
    <ion-item *ngIf="fb_token != null" style="word-wrap: break-word;">
      <h1>Facebook login detail</h1>
      <p style="word-wrap: break-word;">{{ fb_token }}</p>
    </ion-item>
    <ion-item *ngIf="fb_token != null">
      <p>{{ fbname }}<br>
        {{ fbemail }}<br>
        {{ fbid }}
      </p>
    </ion-item> 
  </ion-list>
</ion-content>
